.solver {
  max-width: 500px;
  margin: 0 auto;
}

.body {
  display: flex;
}

.help {
  color: #666;
  margin: 10px;
  text-align: center;
}

.left {
  text-align: center;
  width: 50%;
  border: thin solid #ddd;
}

.right {
  text-align: center;
  padding: 10px;
  width: 50%;
  border: thin solid #ddd;
}

.letter {
  background-color: #eee;
  border: thin solid #ddd;
  width: 45px;
  height: 45px;
  margin: 10px;
  font-size: 25px;
}

.letter:focus, .letter:active {
  outline: none;
  border: thin solid #ddd;
}

.pickerbutton {
  background-color: #eee;
  border: thin solid #ddd;
  width: 37px;
  height: 37px;
  margin: 5px;
  font-size: 15px;
}

.cancelbutton {
  background-color: #eee;
  border: thin solid #ddd;
  width: 178px;
  height: 37px;
  margin: 5px;
  font-size: 15px;
}

.count {
  color: #666;
  font-weight: bold;
  margin-top: 3px;
  margin-left: 3px;
}

.results {
  font-size: 100%;
  resize: none;
  width: 90%;
  margin: 5px;
  border: none;
  outline: none;
  background: none;
}